{{ if eq .GoType "struct" }}
    {{ .GoName }} *struct {
    {{ range $index, $property := .Properties }}
        {{ template "yaml_attribute.tmpl" $property }}
    {{ end }}
    } {{ .BT }}tfsdk:"{{ .TerraformAttributeName }}" yaml:"{{ .Name }},omitempty"{{ .BT }}
{{ else if eq .GoType "[]struct" }}
    {{ .GoName }} *[]struct {
    {{ range $index, $property := .Properties }}
        {{ template "yaml_attribute.tmpl" $property }}
    {{ end }}
    } {{ .BT }}tfsdk:"{{ .TerraformAttributeName }}" yaml:"{{ .Name }},omitempty"{{ .BT }}
{{ else if eq .GoType "utilities.Dynamic" }}
{{ .GoName }} {{ .GoType }} {{ .BT }}tfsdk:"{{ .TerraformAttributeName }}" yaml:"{{ .Name }},omitempty"{{ .BT }}
{{ else if eq .GoType "utilities.DynamicNumber" }}
{{ .GoName }} {{ .GoType }} {{ .BT }}tfsdk:"{{ .TerraformAttributeName }}" yaml:"{{ .Name }},omitempty"{{ .BT }}
{{ else if eq .GoType "utilities.IntOrString" }}
{{ .GoName }} {{ .GoType }} {{ .BT }}tfsdk:"{{ .TerraformAttributeName }}" yaml:"{{ .Name }},omitempty"{{ .BT }}
{{ else }}
{{ .GoName }} *{{ .GoType }} {{ .BT }}tfsdk:"{{ .TerraformAttributeName }}" yaml:"{{ .Name }},omitempty"{{ .BT }}
{{ end }}
